# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Python egg metadata
*.egg-info/
.eggs/

# Database files (if any local SQLite, not PostgreSQL)
*.db

# Environment variables and secrets
.env

# Logs
*.log

# VSCode and PyCharm settings

.idea/

# Heroku files
*.sqlite3

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Build artifacts
build/
dist/
*.egg

# Miscellaneous
*.bak
*.swp
